<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Chicago TIF Explorer</title>
	
  <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAA6uw1Kez62mywK2t8K6MNMRTft3tod9xKvUZy4ow-MElrHwF6OhQkL3m7JmVtmcXDPUxpUK44MeAIsQ" type="text/javascript"></script>
	
</head>

<body>
{% block main_content %}
This is the stuff
{% endblock %}
</body>
</html>
