{% extends 'expenditures/base.html' %}
{% block main_content %}
<div id="home">

<ul>
{% for tif in tifs %}
<li><a href="{{ tif.get_absolute_url}}">{{tif.name}}</a></li>
{% endfor %}
</ul>

find TIFs near your home, enter an address, intersection, etc:
<form id="searchlocation" action="#" onsubmit="lookup_location(this.location.value); return false;" name="searchlocation">
	<label for="location">Move map to</label><br/>
	<input type="text" size="30" name="location" value="Vietnam" />
	<input type="submit" value="Go!" />
</form>

<div class="map-container">  
    <div id="map"></div>
    <div class="map-legend"></div>
</div>
<script type="text/javascript">

var gmap;
var geocoder;

function lookup_location(location) {
	if (geocoder) {
		geocoder.getLatLng(
			location,
      		function(point) {
        		if (!point) {
          			alert(location + " not found");
        		} else {
          			gmap.setCenter(point,14);
        		}
      		}
    	);
  	}
}

function init_map() {
    
    if (GBrowserIsCompatible()) {
      gmap = new GMap2(document.getElementById("map"));
      var ward = new GGeoXml("http://praseos.com/tifs.kml");
      gmap.setCenter(new GLatLng(0, 0), 1);
      gmap.addOverlay(ward);

      gmap.setMapType(G_PHYSICAL_MAP);
      GEvent.addListener(ward, "load", function() {
          this.gotoDefaultViewport( gmap ); 
      })
      
      geocoder = new GClientGeocoder();
    }

}
/* is there a preferred way to add another onload handler? */
//jQuery().ready(init_map)
init_map();
</script>

</div>
{% endblock %}
